################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/StudyApp/FileContentIndex
/.vs/StudyApp/v17
/.vs/StudyApp/DesignTimeBuild
